* {
  margin: 0;
  padding: 0;
}

video {
  width: 100vw;
  height: auto;
}

.identityImage {
  height: 200px;
  width: auto;
}

.identityImage:hover {
  transform: scale(1.1);
  transition: all .4s ease-in-out;
}

.identityImage.active {
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.5));
}

h1 {
  color: white;
  font-size: 1.5em;
}

p {
  color: white;
}

svg {
  fill: white;
}

.soundButton {
  cursor: pointer;
}

#finalScore {
  color: white;
}

/* Override Bootstrap */
.modal-content {
  background-image: url('../assets/Images/fundoNave.png');
  background-repeat: no-repeat;
  background-size: cover;
}

